<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
<head>
	<title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

	<h1>Welcome to...</h1>
	<img id="logo" th:src="@{/images/TacoCloud.png}"/>

    <ul>
        <li><a href="/">/home</a></li>
        <li><a href="/design">/design</a></li>
        <li><a href="/orders/current">/orders/current</a></li>
        <li><a href="/orders">/orders</a></li>
    </ul>

    <form method="GET" th:action="@{/login}">
        <input type="submit" value="Log in"/>
    </form><br>

    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Log out"/>
    </form><br>
	
</body>

</html>